{% load static %}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">

</head>
<style>
    .jumbotron {
        padding: 2rem 1rem;
        margin-bottom: 2rem;
        background-color: lightblue;
        border-radius: .3rem;
        margin-top: 100px;
    }
    .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
</style>
<body>
<div class="container-fluid">
		<div class="container">
  			<div class="jumbotron">
            <h3>Password reset</h3>
                <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

                <form method="post">

                    {% csrf_token %}
                    {{form}}
                    <input class="btn btn-primary" type="Submit" name="Send email">

                </form>
            </div>
        </div>
</div>
</body>
</html>
